<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/sub-crypt/" target="_blank"  rel="noopener" alt="anchor link for social media github" aria-label="anchor link for social media github">
            <i class="fa-brands fa-github"></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:aabh4s@protonmail.com"  rel="noopener" alt="anchor link for email" aria-label="anchor link for email">
            <i class="fa-regular fa-envelope"></i>
        </a>
    {% endif %}
</div>
